* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0099ff98;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: fit-content;
    padding: 8px;
    margin: 30px auto 5px;
    background: white;
    border-radius: 8px;
}

main form .linha {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

main form input[type=submit] {
    padding: 5px;
    margin-top: 5px;
    width: calc(100% -  20px);
    border-radius: 7px;
    background: #0099ff;
    color: white;
    border-color: transparent;
}