<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Sistema de CRUD</title>
</head>
<body>
    <header>
        <span class="link-header">
            <a href="login.html">Login</a>
        </span>
            <h1>Sistema de CRUD</h1>
        <span class="link-header">
            <a href="cadastro.html">Sing in</a>
        </span>
    </header>
    <main id="main-index">
        <div class="box">
            <div class="box-header">
                <div class="index-dot dot-1"></div>
                <div class="index-dot dot-2"></div>
                <div class="index-dot dot-3"></div>
            </div>
            <div class="box-body">
                <p>Vamos codar amigos!</p>
                <p><strong>Páginas disponieis: (shortcut)</strong></p>

            </div>
        </div>
    </main>
</body>
</html>